In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
Data = pd.read_excel('/home/yifan/Desktop/学校版调考分析报告-武汉市第四中学.xlsx')

In [3]:
 #   分析各班级语文成绩
df_chinese = Data[["Unnamed: 0","Unnamed: 1","Unnamed: 2","Unnamed: 3","学科潜能原始分"]]

In [4]:
df_chinese

    Unnamed: 0 Unnamed: 1 Unnamed: 2 Unnamed: 3 学科潜能原始分
0           考号         学校         班级       学生姓名    语文成绩
1    042020722    武汉市第四中学          2        胡淑祺   120.0
2    042020703    武汉市第四中学          2        李长坤   117.0
3    042020707    武汉市第四中学          2        刘大福   119.0
4    042010208    武汉市第四中学          6        李佳怡   128.0
..         ...        ...        ...        ...     ...
493  042021321    武汉市第四中学          9        何景轩    69.0
494  042021232    武汉市第四中学          4        曾治钧    79.0
495  042021313    武汉市第四中学          9         尹琳    82.0
496  042021325    武汉市第四中学          9        熊宇豪    53.0
497  042021040    武汉市第四中学          2        段茗馨    63.0

[498 rows x 5 columns]

In [5]:
 ## 替换列索引
df_chinese1 = df_chinese.set_axis(df_chinese.iloc[0],axis = 1, inplace = False)

In [6]:
df_chinese1.columns.name = None

In [7]:
df_chinese1

            考号       学校  班级  学生姓名   语文成绩
0           考号       学校  班级  学生姓名   语文成绩
1    042020722  武汉市第四中学   2   胡淑祺  120.0
2    042020703  武汉市第四中学   2   李长坤  117.0
3    042020707  武汉市第四中学   2   刘大福  119.0
4    042010208  武汉市第四中学   6   李佳怡  128.0
..         ...      ...  ..   ...    ...
493  042021321  武汉市第四中学   9   何景轩   69.0
494  042021232  武汉市第四中学   4   曾治钧   79.0
495  042021313  武汉市第四中学   9    尹琳   82.0
496  042021325  武汉市第四中学   9   熊宇豪   53.0
497  042021040  武汉市第四中学   2   段茗馨   63.0

[498 rows x 5 columns]

In [8]:
## 删除重复列
df = df_chinese1.drop(index = 0)

In [9]:
df

            考号       学校 班级 学生姓名   语文成绩
1    042020722  武汉市第四中学  2  胡淑祺  120.0
2    042020703  武汉市第四中学  2  李长坤  117.0
3    042020707  武汉市第四中学  2  刘大福  119.0
4    042010208  武汉市第四中学  6  李佳怡  128.0
5    042020704  武汉市第四中学  1  万茹洁  120.0
..         ...      ... ..  ...    ...
493  042021321  武汉市第四中学  9  何景轩   69.0
494  042021232  武汉市第四中学  4  曾治钧   79.0
495  042021313  武汉市第四中学  9   尹琳   82.0
496  042021325  武汉市第四中学  9  熊宇豪   53.0
497  042021040  武汉市第四中学  2  段茗馨   63.0

[497 rows x 5 columns]

In [10]:
## 更改数据类型
df["语文成绩"] = pd.to_numeric(df["语文成绩"])

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 497 entries, 1 to 497
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   考号      497 non-null    object
 1   学校      497 non-null    object
 2   班级      497 non-null    object
 3   学生姓名    497 non-null    object
 4   语文成绩    496 non-null    float64
dtypes: float64(1), object(4)
memory usage: 23.3+ KB

In [12]:
df

            考号       学校 班级 学生姓名   语文成绩
1    042020722  武汉市第四中学  2  胡淑祺  120.0
2    042020703  武汉市第四中学  2  李长坤  117.0
3    042020707  武汉市第四中学  2  刘大福  119.0
4    042010208  武汉市第四中学  6  李佳怡  128.0
5    042020704  武汉市第四中学  1  万茹洁  120.0
..         ...      ... ..  ...    ...
493  042021321  武汉市第四中学  9  何景轩   69.0
494  042021232  武汉市第四中学  4  曾治钧   79.0
495  042021313  武汉市第四中学  9   尹琳   82.0
496  042021325  武汉市第四中学  9  熊宇豪   53.0
497  042021040  武汉市第四中学  2  段茗馨   63.0

[497 rows x 5 columns]

In [13]:
### bonus?

df['语文排名'] =df["语文成绩"].rank(method = 'max')

In [14]:
df['语文排名'] = 497-df['语文排名']

In [15]:
df

            考号       学校 班级 学生姓名   语文成绩   语文排名
1    042020722  武汉市第四中学  2  胡淑祺  120.0   49.0
2    042020703  武汉市第四中学  2  李长坤  117.0   95.0
3    042020707  武汉市第四中学  2  刘大福  119.0   60.0
4    042010208  武汉市第四中学  6  李佳怡  128.0    3.0
5    042020704  武汉市第四中学  1  万茹洁  120.0   49.0
..         ...      ... ..  ...    ...    ...
493  042021321  武汉市第四中学  9  何景轩   69.0  483.0
494  042021232  武汉市第四中学  4  曾治钧   79.0  478.0
495  042021313  武汉市第四中学  9   尹琳   82.0  476.0
496  042021325  武汉市第四中学  9  熊宇豪   53.0  489.0
497  042021040  武汉市第四中学  2  段茗馨   63.0  484.0

[497 rows x 6 columns]

In [16]:
df[df['语文排名']<=10].index.tolist()

[4, 8, 11, 13, 36, 43, 60, 188, 206, 406, 443]

In [17]:
df1 = df.loc[df[df['语文排名']<=10].index.tolist()]

In [18]:
df1

            考号       学校 班级 学生姓名   语文成绩  语文排名
4    042010208  武汉市第四中学  6  李佳怡  128.0   3.0
8    042010105  武汉市第四中学  6  周妤珂  131.0   1.0
11   042020742  武汉市第四中学  1  杜枭雄  125.0   9.0
13   042020838  武汉市第四中学  3   徐奇  127.0   5.0
36   042020714  武汉市第四中学  2  张云鹏  127.0   5.0
43   042020837  武汉市第四中学  2  王桐泽  125.0   9.0
60   042010136  武汉市第四中学  8  张琬童  125.0   9.0
188  042010502  武汉市第四中学  6  孙金琳  128.0   3.0
206  042010414  武汉市第四中学  6  吴亚婷  126.0   8.0
406  042021142  武汉市第四中学  3  韩致远  127.0   5.0
443  042021236  武汉市第四中学  3  秦为婧  130.0   2.0

In [19]:
## mei ban nian ji qian 10 ren shu 
s1 = len(df1.loc[df["班级"] == '1'])
s2 = len(df1.loc[df["班级"] == '2'])
s3 = len(df1.loc[df["班级"] == '3'])
s4 = len(df1.loc[df["班级"] == '4'])
s5 = len(df1.loc[df["班级"] == '5'])
s6 = len(df1.loc[df["班级"] == '6'])
s7 = len(df1.loc[df["班级"] == '7'])
s8 = len(df1.loc[df["班级"] == '8'])
s9 = len(df1.loc[df["班级"] == '9'])
s10 = len(df1.loc[df["班级"] == '10'])

In [20]:
## 年级前10人数  尖子生老师得分
def J(x):
    if x <= 3:
        return 5*x
    else:
        return 15

In [21]:
## 年级前10人数  尖子生老师得分

In [22]:
J(s7)

0

In [23]:
M = df["语文成绩"].mean()
## 年级语文成绩平均分

In [24]:
### 进行班级筛选,学生按班级分类

In [25]:
class1 = df.loc[df["班级"] == '1']
class2 = df.loc[df["班级"] == '2']
class3 = df.loc[df["班级"] == '3']
class4 = df.loc[df["班级"] == '4']
class5 = df.loc[df["班级"] == '5']
class6 = df.loc[df["班级"] == '6']
class7 = df.loc[df["班级"] == '7']
class8 = df.loc[df["班级"] == '8']
class9 = df.loc[df["班级"] == '9']
class10 = df.loc[df["班级"] == '10']

In [26]:
### 计算各班平均分
M1 = class1["语文成绩"].mean()
M2 = class2["语文成绩"].mean()
M3 = class3["语文成绩"].mean()
M4 = class4["语文成绩"].mean()
M5 = class5["语文成绩"].mean()
M6 = class6["语文成绩"].mean()
M7 = class7["语文成绩"].mean()
M8 = class8["语文成绩"].mean()
M9 = class9["语文成绩"].mean()
M10 = class10["语文成绩"].mean()

In [27]:
print(M1,M2,M3,M4,M5,M6,M7,M8,M9,M10,M)

111.44444444444444 112.44444444444444 110.64285714285714 104.75471698113208 109.81818181818181 112.92857142857143 101.21818181818182 104.37254901960785 100.36842105263158 109.69642857142857 107.83266129032258

In [28]:
###  假定211线107  一本线98   二本线89  ###

In [29]:
 # class1
n1 = len(class1)  # class1 学生人数

In [30]:
class1_2ben = class1.loc[class1[class1['语文成绩']>=89].index.tolist()]  #二本上线人数一览

In [31]:
class1_1ben = class1.loc[class1[class1['语文成绩']>=98].index.tolist()]  #一本上线人数一览

In [32]:
class1_211 = class1.loc[class1[class1['语文成绩']>=107].index.tolist()]  #211上线人数一览

In [33]:
## 分别计算class1 二本 一本 211上线率:rate2,rate1,rate211

r21 = len(class1_2ben)/n1
r11 = len(class1_1ben)/n1 # class2
n2 = len(class2)
class2_2ben = class2.loc[class2[class2['语文成绩']>=89].index.tolist()]  #二本上线人数一览
class2_1ben = class2.loc[class2[class2['语文成绩']>=98].index.tolist()]  #一本上线人数一览
class2_211 = class2.loc[class2[class2['语文成绩']>=107].index.tolist()]  #211上线人数一览

## 分别计算class1 二本 一本 211上线率:rate2,rate1,rate211

r22 = len(class2_2ben)/n2
r12 = len(class2_1ben)/n2
r32 = len(class2_211)/n2
r31 = len(class1_211)/n1

In [34]:
print(r21,r11,r31)

1.0 0.9555555555555556 0.7333333333333333

In [35]:
 # class2
n2 = len(class2)
class2_2ben = class2.loc[class2[class2['语文成绩']>=89].index.tolist()]  #二本上线人数一览
class2_1ben = class2.loc[class2[class2['语文成绩']>=98].index.tolist()]  #一本上线人数一览
class2_211 = class2.loc[class2[class2['语文成绩']>=107].index.tolist()]  #211上线人数一览

## 分别计算class1 二本 一本 211上线率:rate2,rate1,rate211

r22 = len(class2_2ben)/n2
r12 = len(class2_1ben)/n2
r32 = len(class2_211)/n2

In [36]:
 # class3
n3 = len(class3)
class3_2ben = class3.loc[class3[class3['语文成绩']>=89].index.tolist()]  #二本上线人数一览
class3_1ben = class3.loc[class3[class3['语文成绩']>=98].index.tolist()]  #一本上线人数一览
class3_211 =  class3.loc[class3[class3['语文成绩']>=107].index.tolist()]  #211上线人数一览

## 分别计算class1 二本 一本 211上线率:rate2,rate1,rate211

r23 = len(class3_2ben)/n3
r13 = len(class3_1ben)/n3
r33 = len(class3_211)/n3

In [37]:
 # class4
n4 = len(class4)
class4_2ben = class4.loc[class4[class4['语文成绩']>=89].index.tolist()]  #二本上线人数一览
class4_1ben = class4.loc[class4[class4['语文成绩']>=98].index.tolist()]  #一本上线人数一览
class4_211 =  class4.loc[class4[class4['语文成绩']>=107].index.tolist()]  #211上线人数一览

## 分别计算class1 二本 一本 211上线率:rate2,rate1,rate211

r24 = len(class4_2ben)/n4
r14 = len(class4_1ben)/n4
r34 = len(class4_211)/n4

In [38]:
 # class5
n5 = len(class5)
class5_2ben = class5.loc[class5[class5['语文成绩']>=89].index.tolist()]  #二本上线人数一览
class5_1ben = class5.loc[class5[class5['语文成绩']>=98].index.tolist()]  #一本上线人数一览
class5_211 =  class5.loc[class5[class5['语文成绩']>=107].index.tolist()]  #211上线人数一览

## 分别计算class1 二本 一本 211上线率:rate2,rate1,rate211

r25 = len(class5_2ben)/n5
r15 = len(class5_1ben)/n5
r35 = len(class5_211)/n5

In [39]:
# class6
n6 = len(class6)
class6_2ben = class6.loc[class6[class6['语文成绩']>=89].index.tolist()]  #二本上线人数一览
class6_1ben = class6.loc[class6[class6['语文成绩']>=98].index.tolist()]  #一本上线人数一览
class6_211 =  class6.loc[class6[class6['语文成绩']>=107].index.tolist()]  #211上线人数一览

## 分别计算class1 二本 一本 211上线率:rate2,rate1,rate211

r26 = len(class6_2ben)/n6
r16 = len(class6_1ben)/n6
r36 = len(class6_211)/n6

In [40]:
# class7
n7 = len(class7)
class7_2ben = class7.loc[class7[class7['语文成绩']>=89].index.tolist()]  #二本上线人数一览
class7_1ben = class7.loc[class7[class7['语文成绩']>=98].index.tolist()]  #一本上线人数一览
class7_211 =  class7.loc[class7[class7['语文成绩']>=107].index.tolist()]  #211上线人数一览

## 分别计算class1 二本 一本 211上线率:rate2,rate1,rate211

r27 = len(class7_2ben)/n7
r17 = len(class7_1ben)/n7
r37 = len(class7_211)/n7

In [41]:
# class8
n8 = len(class8)
class8_2ben = class8.loc[class8[class8['语文成绩']>=89].index.tolist()]  #二本上线人数一览
class8_1ben = class8.loc[class8[class8['语文成绩']>=98].index.tolist()]  #一本上线人数一览
class8_211 =  class8.loc[class8[class8['语文成绩']>=107].index.tolist()]  #211上线人数一览

## 分别计算class1 二本 一本 211上线率:rate2,rate1,rate211

r28 = len(class8_2ben)/n8
r18 = len(class8_1ben)/n8
r38 = len(class8_211)/n8

In [42]:
# class9
n9 = len(class9)
class9_2ben = class9.loc[class9[class9['语文成绩']>=89].index.tolist()]  #二本上线人数一览
class9_1ben = class9.loc[class9[class9['语文成绩']>=98].index.tolist()]  #一本上线人数一览
class9_211 =  class9.loc[class9[class9['语文成绩']>=107].index.tolist()]  #211上线人数一览

## 分别计算class1 二本 一本 211上线率:rate2,rate1,rate211

r29 = len(class9_2ben)/n9
r19 = len(class9_1ben)/n9
r39 = len(class9_211)/n9

In [43]:
 # class10
n10 = len(class10)
class10_2ben = class10.loc[class10[class10['语文成绩']>=89].index.tolist()]  #二本上线人数一览
class10_1ben = class10.loc[class10[class10['语文成绩']>=98].index.tolist()]  #一本上线人数一览
class10_211 = class10.loc[class10[class10['语文成绩']>=107].index.tolist()]  #211上线人数一览

## 分别计算class1 二本 一本 211上线率:rate2,rate1,rate211

r210 = len(class10_2ben)/n10
r110 = len(class10_1ben)/n10
r310 = len(class10_211)/n10

In [44]:
DF = pd.DataFrame.from_dict(
    {'1班': pd.Series([r21,r11,r31,M1],index = ['二本上线率','一本上线率','211上线率','平均分']),
     '2班': pd.Series([r22,r12,r32,M2],index = ['二本上线率','一本上线率','211上线率','平均分']),
     '3班': pd.Series([r23,r13,r33,M3],index = ['二本上线率','一本上线率','211上线率','平均分']),
     '4班': pd.Series([r24,r14,r34,M4],index = ['二本上线率','一本上线率','211上线率','平均分']),
     '5班': pd.Series([r25,r15,r35,M5],index = ['二本上线率','一本上线率','211上线率','平均分']),
     '6班': pd.Series([r26,r16,r36,M6],index = ['二本上线率','一本上线率','211上线率','平均分']),
     '7班': pd.Series([r27,r17,r37,M7],index = ['二本上线率','一本上线率','211上线率','平均分']),
     '8班': pd.Series([r28,r18,r38,M8],index = ['二本上线率','一本上线率','211上线率','平均分']),
     '9班': pd.Series([r29,r19,r39,M9],index = ['二本上线率','一本上线率','211上线率','平均分']),
     '10班': pd.Series([r210,r110,r310,M10],index = ['二本上线率','一本上线率','211上线率','平均分'])
    })

In [45]:
# data
DF

,1班,2班,3班,4班,5班,6班,7班,8班,9班,10班
二本上线率,1.000000,0.955556,1.000000,0.943396,0.981818,1.000000,0.836364,0.923077,0.815789,0.982143
一本上线率,0.955556,0.933333,0.952381,0.792453,0.909091,0.982143,0.781818,0.769231,0.736842,0.946429
211上线率,0.733333,0.822222,0.666667,0.471698,0.727273,0.732143,0.618182,0.500000,0.447368,0.767857
平均分,111.444444,112.444444,110.642857,104.754717,109.818182,112.928571,101.218182,104.372549,100.368421,109.696429

In [46]:
a = max(M1,M2,M3,M4,M5,M6,M7,M8,M9,M10)
b = max(r21,r22,r23,r24,r25,r26,r27,r28,r29,r210)
c = max(r11,r12,r13,r14,r15,r16,r17,r18,r19,r110)
d = max(r31,r32,r33,r34,r35,r36,r37,r38,r39,r310)

In [47]:
a

112.92857142857143

In [48]:
# 各班老师平均分得分
a1 = M1/a*20
a2 = M2/a*20
a3 = M3/a*20
a4 = M4/a*20
a5 = M5/a*20
a6 = M6/a*20
a7 = M7/a*20
a8 = M8/a*20
a9 = M9/a*20
a10 = M10/a*20

In [49]:
# 各班老师二本上线率得分
b1 = r21/b*20
b2 = r22/b*20
b3 = r23/b*20
b4 = r24/b*20
b5 = r25/b*20
b6 = r26/b*20
b7 = r27/b*20
b8 = r28/b*20
b9 = r29/b*20
b10 = r210/b*20

In [50]:
# 各班老师一本上线率得分
c1 = r11/c*20
c2 = r12/c*20
c3 = r13/c*20
c4 = r14/c*20
c5 = r15/c*20
c6 = r16/c*20
c7 = r17/c*20
c8 = r18/c*20
c9 = r19/c*20
c10 = r110/c*20

In [51]:
# 各班老师211上线率得分
d1 = r31/d*20
d2 = r32/d*20
d3 = r33/d*20
d4 = r34/d*20
d5 = r35/d*20
d6 = r36/d*20
d7 = r37/d*20
d8 = r38/d*20
d9 = r39/d*20
d10 = r310/d*20

In [52]:
## 各班老师总得分
t1 = b1+c1+d1+a1+J(s1)
t2 = b2+c2+d2+a2+J(s2)
t3 = b3+c3+d3+a3+J(s3)
t4 = b4+c4+d4+a4+J(s4)
t5 = b5+c5+d5+a5+J(s5)
t6 = b6+c6+d6+a6+J(s6)
t7 = b7+c7+d7+a7+J(s7)
t8 = b8+c8+d8+a8+J(s8)
t9 = b9+c9+d9+a9+J(s9)
t10 = b10+c10+d10+a10+J(s10)

In [63]:
DF = pd.DataFrame.from_dict(
    {'1班': pd.Series([r21,b1,r11,c1,r31,d1,M1,a1,s1,J(s1),t1],index = ['二本上线率','二本率老师得分(20)','一本上线率','一本率老师得分(20)','211上线率','211率老师得分(20)','平均分','平均分老师得分(20)','年级前10人数','尖子生老师得分(15)','老师总分(满分95)']),
     '2班': pd.Series([r22,b2,r12,c2,r32,d2,M2,a2,s2,J(s2),t2],index = ['二本上线率','二本率老师得分(20)','一本上线率','一本率老师得分(20)','211上线率','211率老师得分(20)','平均分','平均分老师得分(20)','年级前10人数','尖子生老师得分(15)','老师总分(满分95)']),
     '3班': pd.Series([r23,b3,r13,c3,r33,d3,M3,a3,s3,J(s3),t3],index = ['二本上线率','二本率老师得分(20)','一本上线率','一本率老师得分(20)','211上线率','211率老师得分(20)','平均分','平均分老师得分(20)','年级前10人数','尖子生老师得分(15)','老师总分(满分95)']),
     '4班': pd.Series([r24,b4,r14,c4,r34,d4,M4,a4,s4,J(s4),t4],index = ['二本上线率','二本率老师得分(20)','一本上线率','一本率老师得分(20)','211上线率','211率老师得分(20)','平均分','平均分老师得分(20)','年级前10人数','尖子生老师得分(15)','老师总分(满分95)']),
     '5班': pd.Series([r25,b5,r15,c5,r35,d5,M5,a5,s5,J(s5),t5],index = ['二本上线率','二本率老师得分(20)','一本上线率','一本率老师得分(20)','211上线率','211率老师得分(20)','平均分','平均分老师得分(20)','年级前10人数','尖子生老师得分(15)','老师总分(满分95)']),
     '6班': pd.Series([r26,b6,r16,c6,r36,d6,M6,a6,s6,J(s6),t6],index = ['二本上线率','二本率老师得分(20)','一本上线率','一本率老师得分(20)','211上线率','211率老师得分(20)','平均分','平均分老师得分(20)','年级前10人数','尖子生老师得分(15)','老师总分(满分95)']),
     '7班': pd.Series([r27,b7,r17,c7,r37,d7,M7,a7,s7,J(s7),t7],index = ['二本上线率','二本率老师得分(20)','一本上线率','一本率老师得分(20)','211上线率','211率老师得分(20)','平均分','平均分老师得分(20)','年级前10人数','尖子生老师得分(15)','老师总分(满分95)']),
     '8班': pd.Series([r28,b8,r18,c8,r38,d8,M8,a8,s8,J(s8),t8],index = ['二本上线率','二本率老师得分(20)','一本上线率','一本率老师得分(20)','211上线率','211率老师得分(20)','平均分','平均分老师得分(20)','年级前10人数','尖子生老师得分(15)','老师总分(满分95)']),
     '9班': pd.Series([r29,b9,r19,c9,r39,d9,M9,a9,s9,J(s9),t9],index = ['二本上线率','二本率老师得分(20)','一本上线率','一本率老师得分(20)','211上线率','211率老师得分(20)','平均分','平均分老师得分(20)','年级前10人数','尖子生老师得分(15)','老师总分(满分95)']),
     '10班': pd.Series([r210,b10,r110,c10,r310,d10,M10,a10,s10,J(s10),t10],index = ['二本上线率','二本率老师得分(20)','一本上线率','一本率老师得分(20)','211上线率','211率老师得分(20)','平均分','平均分老师得分(20)','年级前10人数','尖子生老师得分(15)','老师总分(满分95)'])
    })

In [64]:
DF

,1班,2班,3班,4班,5班,6班,7班,8班,9班,10班
二本上线率,1.000000,0.955556,1.000000,0.943396,0.981818,1.000000,0.836364,0.923077,0.815789,0.982143
二本率老师得分(20),20.000000,19.111111,20.000000,18.867925,19.636364,20.000000,16.727273,18.461538,16.315789,19.642857
一本上线率,0.955556,0.933333,0.952381,0.792453,0.909091,0.982143,0.781818,0.769231,0.736842,0.946429
一本率老师得分(20),19.458586,19.006061,19.393939,16.137221,18.512397,20.000000,15.920661,15.664336,15.004785,19.272727
211上线率,0.733333,0.822222,0.666667,0.471698,0.727273,0.732143,0.618182,0.500000,0.447368,0.767857
211率老师得分(20),17.837838,20.000000,16.216216,11.473738,17.690418,17.808880,15.036855,12.162162,10.881935,18.677606
平均分,111.444444,112.444444,110.642857,104.754717,109.818182,112.928571,101.218182,104.372549,100.368421,109.696429
平均分老师得分(20),19.737157,19.914260,19.595193,18.552385,19.449140,20.000000,17.926054,18.484702,17.775558,19.427577
年级前10人数,1.000000,2.000000,3.000000,0.000000,0.000000,4.000000,0.000000,1.000000,0.000000,0.000000
尖子生老师得分(15),5.000000,10.000000,15.000000,0.000000,0.000000,15.000000,0.000000,5.000000,0.000000,0.000000
老师总分(满分95),82.033580,88.031431,90.205349,65.031269,75.288318,92.808880,65.610843,69.772738,59.978067,77.020768